<div th:fragment="content">
    <h2 class="om-title">Quản lý sản phẩm hết hàng</h2>
    <div class="product-list-grid">
        <div class="product-card" th:each="p : ${products}">
            <div class="card-header">
                <span class="product-title" th:text="${p.name}">Tên sản phẩm</span>
                <span class="badge status-badge active" th:if="${p.active}">ACTIVE</span>
                <span class="badge status-badge inactive" th:if="${!p.active}">INACTIVE</span>
            </div>
            <div class="product-attr-row">
                <span class="attr-label">Mã:</span>
                <span class="attr-value" th:text="${p.id}"></span>
            </div>
            <!-- <div class="product-attr-row">
                <span class="attr-label">Danh mục:</span>
                <span class="attr-value" th:text="${p.category.name}"></span>
            </div> -->
            <div class="product-image-desc-row">
                <span class="attr-label">Ảnh:</span>
                <img th:if="${p.imageURL}" th:src="${p.imageURL}" class="img-thumb" alt="img" style="width:60px; height:60px; object-fit:cover; border-radius:8px; margin-right:10px">
            </div>
            <div class="product-desc">
                <span class="attr-label">Mô tả:</span> <span th:text="${p.description}"></span>
            </div>
            <div class="product-foot">
                <span class="product-price" th:text="${#numbers.formatDecimal(p.basePrice,0,'COMMA',0,'POINT')} + ' đ'">Giá</span>
                <form th:action="@{'/product/active/' + ${p.id}}" method="post" style="display:inline-block">
                  <label class="switch"><input type="checkbox" name="active" th:checked="${p.isActive}" onchange="this.form.submit()"><span class="slider"></span></label>
                  <span class="active-text">Active</span>
                </form>
            </div>
        </div>
    </div>
</div>
