<div th:fragment="detail-content-takeaway">
    <h2 th:text="${product.name}"></h2>
    <img th:src="${product.imageURL ?: 'https://via.placeholder.com/200'}"
         style="max-width: 100%; border-radius: 6px;">
    <!--    <p><strong>Giá:</strong> <span th:text="${product.currentPriceFormatted}"></span></p>-->
    <p><strong>Mô tả:</strong> <span th:text="${product.description ?: 'Chưa có mô tả.'}"></span></p>

    <form class="ajax-form" th:action="@{/cashier/takeaway/cart/add}" method="post" style="margin-top: 15px;">
        <input type="hidden" name="productId" th:value="${product.id}">
        <!-- CHỌN SIZE -->
        <div th:if="${productSizes != null and !productSizes.isEmpty()}">
            <label for="sizeSelect"><strong>Chọn kích cỡ:</strong></label>
            <select id="sizeSelect" name="productSizeId" required
                    style="display:block; margin-top:6px; padding:6px; border-radius:4px; width:100%;">
                <option th:each="ps : ${productSizes}"
                        th:value="${ps.id}">
            <span th:if="${ps.onFlashSale}"
                  th:text="${ps.size.sizeName + ' - '
                      + #numbers.formatDecimal(ps.currentPrice, 0, 'COMMA', 0, 'POINT') + '₫ (giá gốc: '
                      + #numbers.formatDecimal(ps.basePrice, 0, 'COMMA', 0, 'POINT') + '₫)'}">
            </span>
                    <span th:unless="${ps.onFlashSale}"
                          th:text="${ps.sizeName + ' - '
                      + #numbers.formatDecimal(ps.currentPrice, 0, 'COMMA', 0, 'POINT') + '₫'}">
            </span>
                </option>
            </select>
        </div>
        <label>Số lượng:</label>
        <input type="number" name="quantity" value="1" min="1" style="width: 60px; margin-left: 8px;">

        <br><br>
        <label>Ghi chú:</label><br>
        <textarea name="note" rows="3" style="width: 100%; border-radius: 4px; padding: 6px;"></textarea>

        <div style="margin-top: 12px;">
            <button type="submit"
                    onclick="document.getElementById('productModal').style.display='none'"
                    style="background: #007bff; color: white; padding: 8px 12px; border: none; border-radius: 4px;">
                Thêm vào giỏ
            </button>
            <!--            <button type="button" -->
            <!--                    style="margin-left: 8px;">Đóng-->
            <!--            </button>-->
        </div>
    </form>
</div>
