<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Shift</title>
</head>
<body>
<h1>Create Shift</h1>

<form th:object="${shift}"
      th:action="${shift.id} != null ?
                  @{/manager/shift/edit/{id}(id=${shift.id})} :
                  @{/manager/shift/create}"
      method="post">

    <input type="hidden" th:field="*{id}"/>  <!-- rất quan trọng cho update -->

    <p>
        <label for="shiftType">Shift Type</label>
        <select id="shiftType" th:field="*{shiftName}" required>
            <option value="" disabled>-- Chọn ca --</option>
            <option th:each="st : ${label}" th:value="${st}" th:text="${st}"></option>
        </select>
    </p>

    <p>
        <label for="startTime">Start Time</label>
        <input type="datetime-local" id="startTime" th:field="*{startTime}" step="1" required>
    </p>

    <p>
        <label for="endTime">End Time</label>
        <input type="datetime-local" id="endTime" th:field="*{endTime}" step="1" required>
    </p>

    <button type="submit">Save</button>
</form>


</body>
</html>
