<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Quản lý ca làm việc</title>
</head>
<body>
<div>
    <h1>Quản lý ca làm việc</h1>

    <div th:text="${message}"></div>

    <a class="primary-btn" th:href="@{/admin/shift/create}">Thêm ca làm việc</a>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên ca làm việc</th>
            <th>Giờ bắt đầu</th>
            <th>Giờ kết thúc</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shift : ${shifts}">
            <td th:text="${shift.id}">1</td>
            <td th:text="${shift.shiftName}">Ca sáng</td>
            <td th:text="${shift.startTime}">08:00</td>
            <td th:text="${shift.endTime}">12:00</td>
            <td>
                <a class="primary-btn" th:href="@{'/admin/shift/edit/' + ${shift.id}}">Sửa</a>

                <a class="primary-btn"
                   th:href="@{'/admin/shift/delete/' + ${shift.id}}"
                   th:onclick="|return confirm('Bạn có chắc chắn muốn xóa ca #${shift.id}?');|">Xóa</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
